[Desktop Entry]
Version=1.0
Type=Application
Name=Chromium
Comment=Web browser
Exec=chromium-browser
Icon=__CHROME_ICON__
Terminal=false
StartupNotify=false
StartupWMClass=Chromium-browser
Categories=Network;WebBrowser;
